.App {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: auto;
  background-image: linear-gradient(to left, #9f9cceff, #b7b6b8ff);
}

.App h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 4px 10px rgba(20, 20, 21, 0.8)

}

.project-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

.project-form h2 {
  margin-bottom: 15px;
  margin-top: 2px;
  color: navy;
  font-size: 40px;
}

.project-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-form input,
.project-form textarea {
  width: 98%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #272727ff;
  background: white;
}

.project-form button {
  background-color: #1206faff;
  color: white;
  font-style: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.project-form button:hover {
  background-color: #8cd2faff;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.search-bar {
  margin-bottom: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  border-radius: 3px;
  border: grayscale;
  height: 30px;
  width: 98%;
  padding: 5px;
  opacity: 0.7;
}

.project-card button {
  background-color: rgb(222, 220, 248);
  color: rgb(56, 55, 55);
  font-style: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}